In [14]:
import pandas as pd
from tensorflow.keras.models import load_model
import numpy as np
import pickle
import tensorflow as tf

In [15]:
## Load the trained model , scaler and encoder
model = load_model('model.h5')

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

with open('one_hot_encoder_geo.pkl', 'rb') as file:
    one_hot_encoder_geo = pickle.load(file)


with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

In [16]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [17]:
## Convert Geography into one hot encoding
geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded , columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Data Scientist\NLP_DL_Ds\Deep Learning\Ann_Classification_Project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [18]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [19]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [20]:
## Concatination one hot encoded
input_df = pd.concat([input_df.drop(['Geography']  , axis = 1) , geo_encoded_df] , axis = 1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [21]:
## Scaling the input data
input_scaled_data = scaler.transform(input_df)
input_scaled_data

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [22]:
## prediction 
prediction = model.predict(input_scaled_data)
prediction

1/1 [==============================] - 0s 169ms/step

array([[0.04555263]], dtype=float32)

In [23]:
prediction_prob = prediction[0][0]

In [26]:
if prediction_prob >= .5:
    print("The customer is likely to Churn.")
else:
    print("The customer willn't Churn.")

The customer willn't Churn.